.App {
  display: flex;
  justify-content: center;
  gap: 2vh;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Changed from height to min-height */
  width: 100vw;
  background-color: #ffffff;
  overflow-y: auto; /* Allow vertical scrolling */
}

.graph_box {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap; /* Allows content to wrap - adjust as needed */
}

.equation_display {
  background-color: rgba(0, 0, 0, 0.8);
  /* Slightly transparent white background */
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  /* Adjust the size to your preference */
  color: #333;
  text-align: center;
  /* Dark text color for readability */
}

button {
  margin: 5px;
  padding: 10px;
  background-color: rgb(29, 119, 255) ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.line_graph {
  width: 60% !important;
}

.arrow_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#up_arrow {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

#down_arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#left_arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#right_arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#up_arrow {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.question_container {
  color: white;
}

.target_equation {
  background-color: rgba(32, 32, 32, 0.8);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.submit_button {
  width: 100%;
  color: white;
  background-color: green !important;
}

.dialog_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 20px;
  width: 20vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.dialog_message {
  color: white;
  font-weight: 100;
}

.dialog_confirmation {
  background-color: green !important;
}

.table-style {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color:#000000;
}

.table-style thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-style th,
.table-style td {
  padding: 12px 15px;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}